# add language detection for custom file extension
*.ttslua linguist-language=Lua
*.gmnotes linguist-language=json
*.luascriptstate linguist-language=json

# enforce LF line endings
*.json text eol=lf
*.ttslua text eol=lf
*.gmnotes text eol=lf
*.luascriptstate text eol=lf